<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
      </a>
      <%=link_to root_path, class: 'navbar-brand' do %>
        <i class="fa fa-check-square fa-1x" style="color:rgb(6,170,6)"></i> <span style="color:red;"> n</span>Tasks
      <%end%>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- checking if a user has signed up successfully -->
        <%if current_user %>
          <!-- if yes then we will show them their account settings page -->
          <li> <%=link_to "Account Settings",edit_user_registration_path%> </li>
          <!-- Displaying the logout nav bar -->
          <li><%=link_to 'Log Out',destroy_user_session_path, method: :delete%> </li>
          <!-- Else we show the user the login and signup link -->
        <% else %>
          <!-- <li><a href="">Link</a></li> -->
          <li><%=link_to 'About',about_path %></li>
          <!-- Creating the login path -->
          <li><%=link_to 'Log In',new_user_session_path%></li>
          <li><%=link_to 'Contact',contactus_path %></li>
        <%end %>
        <li class="dropdown">
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
